.card {
  border: none;
  text-align: center;
}

.card img {
  object-fit: scale-down;
  height: 200px;
  width: 100px;
}

.center {
  text-align: center;
}

.search {
  border-radius: 14px;
  margin-left: 10% !important;
}

@media screen and (max-width: 576px) {
  .search {
    width: 100% !important;
    margin-left: 0% !important;
    border-radius: 8px;
  }
}
